In [64]:
import pandas as pd 
df=pd.read_csv("C:/Users/User/Desktop/AI_Projects/Final/Data/Raw_data/population2000.csv")

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231 entries, 0 to 230
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Rank        231 non-null    object
 1   Location    231 non-null    object
 2   Population  231 non-null    object
dtypes: object(3)
memory usage: 5.5+ KB

In [67]:
df.tail(10)

,Rank,Location,Population,Percentage of all
221,221,Anguilla(UK),11797.0,0.00019
222,222,Tuvalu,10838.0,0.00018
223,223,Saint Helena(UK),7212.0,0.00012
224,224,Saint-Pierre and Miquelon(France),6896.0,0.00011
225,225,Montserrat(UK),6409.0,0.00011
226,226,Falkland Islands(UK),2826.0,0.00005
227,227,Niue(Self-governing in freeassociation withNew...,2113.0,0.00003
228,228,Tokelau(NZ),1458.0,0.00002
229,229,Vatican City,880.0,0.00001
230,230,Pitcairn Islands(UK),54.0,0.00000

In [65]:
import pandas as pd
import re


# ðŸ”¹ Population ustunini tozalash
def clean_population(val):
    val = str(val)
    val = re.sub(r"\[.*?\]", "", val)       # [3] yoki (2) kabi izohlarni olib tashlaydi
    val = re.sub(r"[^\d]", "", val)         # faqat raqamlarni qoldiradi
    return float(val) if val else None

df["Population"] = df["Population"].apply(clean_population)

world_pop = 6_080_671_215

df["Percentage of all"] = ((df["Population"] / world_pop) * 100).round(5)

In [68]:
df1=pd.read_csv("C:/Users/User/Desktop/AI_Projects/Final/Data/Raw_data/population2005.csv")

In [53]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232 entries, 0 to 231
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Rank        232 non-null    object
 1   Location    232 non-null    object
 2   Population  232 non-null    object
 3   Changes     19 non-null     float64
dtypes: float64(1), object(3)
memory usage: 7.4+ KB

In [69]:
df1.head(10)

  Rank          Location     Population  Changes
0    â€”             World  6,464,750,000      NaN
1    1             China  1,307,593,000      NaN
2    2          India[2]  1,103,371,000      NaN
3    3  United States[3]    295,520,000      NaN
4    4         Indonesia    222,781,000      NaN
5    5            Brazil    186,405,000      NaN
6    6          Pakistan    157,935,000      1.0
7    7            Russia    143,202,000      1.0
8    8        Bangladesh    141,822,000      NaN
9    9           Nigeria    131,530,000      1.0

In [70]:
df2=pd.read_csv("C:/Users/User/Desktop/AI_Projects/Final/Data/Raw_data/population2010.csv")

In [71]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                199 non-null    object
 1   Location            199 non-null    object
 2   Population          199 non-null    object
 3   Changes             98 non-null     float64
 4   Area                156 non-null    object
 5   Population density  198 non-null    float64
dtypes: float64(2), object(4)
memory usage: 9.5+ KB

In [73]:
df3=pd.read_csv("C:/Users/User/Desktop/AI_Projects/Final/Data/Raw_data/population2015.csv")

In [74]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                199 non-null    object
 1   Location            199 non-null    object
 2   Population          199 non-null    object
 3   Changes             96 non-null     float64
 4   Area                156 non-null    object
 5   Population density  198 non-null    float64
dtypes: float64(2), object(4)
memory usage: 9.5+ KB

In [79]:
df4=pd.read_csv("C:/Users/User/Desktop/AI_Projects/Final/Data/Raw_data/population2020_25.csv")

In [82]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242 entries, 0 to 241
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Location    242 non-null    object
 1   Population  242 non-null    object
 2   Foizi       242 non-null    object
 3   Date        242 non-null    object
 4   Source      242 non-null    object
dtypes: object(5)
memory usage: 9.6+ KB

In [81]:
df4=df4.drop("Notes",axis=1)

In [86]:
242+199+199+231+232

1103

In [87]:
(len(df)+len(df1)+len(df2)+len(df3)+len(df4))

1103